.bonmang {
    /* background-color: aquamarine; */
    padding: 20px;
}
.card-body88{
    /* background-color: #4291EE; */
    padding-top: 13px;

}
.card-img-top {
    width: 124px;
    height: 37px;
}

.card-text22 {
    padding-top: 20px;
}

.fab {

    padding: 11px;
    border-radius: 50px;
    border: 1px solid rgb(88, 88, 182);
    /* margin-left: 8px; */
    /* background-color: aquamarine; */
}

.fa-twitter {
    border: 1px solid blue;
}

.fa-facebook-f:hover {
    background-color: #1489f6;
    color: white
}

.fa-twitter:hover {
    background-color: #1489f6;
    color: white
}

.fa-instagram {
    border: 1px solid rgb(82, 56, 82)
}


.fa-instagram:hover {
    background-color: rgb(82, 56, 82);
    color: white
}

.fa-linkedin-in:hover {
    background-color: rgb(84, 84, 154);
    color: white
}

.social {
    color: #1489f6;
}

.social1 {
    color: #4291EE;
}

.social2 {
    color: rgb(73, 73, 219)
}

.social3 {
    color: rgb(167, 94, 94)
}

.name {
    /* background-color: #4291EE; */
    width: 320px;
}

.name2 {
    background-color: blanchedalmond;



}

.bonmang {
    background-color: #4291EE;



}

.card-text333 {
    padding-top: 10px;
}

.fa-linkedin-in {
    background: white;
}




.bonanh8 {
    /* background-color: antiquewhite; */
    padding: 15px;
    height: 500px;

}

.card-text88new {
    padding-top: 21px;
    color: #c1c5d1;
    font-weight: 500;
    font-family: sans-serif;
    padding-bottom: 10px;

}
.info{
    color: #c1c5d1;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 20px;
}

.rtrt1{
    /* background-color: #1489f6; */
}
.icon3 {
    /* background-color: #f8f8f8; */
    /* padding: 50px 30px 0px 30px; */
    border-radius: 15px;

}

.card8 {
    padding: 40px;

}

.card-title8new {
    padding-top: 18px;
    /* background-color: aqua; */
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

.card-text81new {
    padding-top: 12px;
    font-size: 16px;
    color: #68707f;
    /* padding-bottom: 50px; */
    


}

.card-text81new .FAQ {
    text-decoration: none;
    color: #c1c5d1;
    font-weight: 500;
    font-family: sans-serif;
}



.card812 {
    /* background-color: #4291EE; */
    padding-top: 12px;
}

.lorem1 {
    /* background-color: #e4e8ef; */
    border-bottom: 0.2px solid #868890;
    padding-bottom: 100px;
}

.radius89 {
    color: #c1c5d1;
    text-decoration: none;
    font-weight: 500;
    padding-left: 5px;

}

.card-text151 {
    padding-top: 16px;
    padding-bottom: 20px;
    /* background-color: #1489f6; */
    color: #c1c5d1;
}



.thereimg {
    background-color: black;
    bottom: 0px;
    /* border: 1px solid red; */
    position: relative;

}









@media (min-width:900px) {

    .bonanh8 {
        /* background-color: antiquewhite; */
        /* padding: 100px; */
        padding-top: 100px;
    }

    .card-text15 {
        padding-top: 15px;
        padding-bottom: 0px;
        font-size: 16px;
    }

}

@media(max-width:1200px) {
    .shape5 {
        position: absolute;
        left: 180px;
        bottom: -20px;
        z-index: -50;
        display: none;
    }

    .shape6 {
        position: absolute;
        right: 142px;
        bottom: -20px;
        /* background-color: aquamarine; */
    }

    .thereimg {
        background-color: black;
        bottom: 0px;
        /* border: 1px solid red; */
        position: relative;
      width: 0;
    }
}